
/* global css */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color:#f3f4f6;
}

a{
  text-decoration:none;
}

button{
  cursor:pointer;
  font-family:inherit;
}

input{
  font-family:inherit;
}



/* layout css */

.dashboard-layout{
  display:flex;
  width:100%;
  min-height:100vh;
}

.main-section{
  flex:1;
  margin-left:250px;
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.page-content{
  margin-top:70px;
  padding:20px;
  min-height:calc(100vh - 70px);
  overflow-x:hidden;
}


/* navbar css */

.navbar{
  height:70px;
  position:fixed;
  top:0;
  left:250px;
  right:0;

  background-color:white;

  border-bottom:1px solid #ddd;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0px 20px;

  z-index:100;

  gap:15px;
}

.menu-btn{
  display:none;
  border:none;
  background:none;
  font-size:24px;
}

.search-box{
  flex:1;
}

.search-box input{
  width:100%;
  max-width:350px;

  padding:10px 14px;

  border:1px solid #d1d5db;

  border-radius:8px;

  outline:none;
}

.profile-section{
  display:flex;
  align-items:center;
  gap:12px;

  flex-shrink:0;
}

.profile-icon{
  width:45px;
  height:45px;

  border-radius:50%;

  background-color:#2563eb;

  color:white;

  display:flex;
  justify-content:center;
  align-items:center;

  font-weight:bold;

  overflow:hidden;
}

.profile-image{
  width:100%;
  height:100%;
  object-fit:cover;
}

.theme-toggle{
  width:42px;
  height:42px;

  border:none;

  border-radius:50%;

  background-color:#e5e7eb;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:18px;

  transition:0.3s;
}

.theme-toggle:hover{
  transform:scale(1.05);
}


/* side bar css */

.sidebar{
  width:250px;
  min-width:250px;

  height:100vh;

  position:fixed;

  top:0;
  left:0;
  bottom:0;

  background-color:#111827;

  color:white;

  padding:20px;

  overflow-y:auto;

  transition:0.3s;

  display:flex;
  flex-direction:column;

  z-index:1000;
}

.logo{
  margin-bottom:40px;
}

.sidebar-links{
  list-style:none;
}

.sidebar-links li{
  margin-bottom:15px;
}

.sidebar-links a{
  display:block;

  padding:12px;

  border-radius:8px;

  color:white;

  transition:0.3s;
}

.sidebar-links a:hover{
  background-color:#1f2937;
}

.active-link{
  background-color:#2563eb;
}

.logout-btn{
  margin-top:30px;

  width:100%;

  padding:12px;

  border:none;

  border-radius:8px;

  background-color:#dc2626;

  color:white;
}


.close-sidebar{
  display:none;

  align-self:flex-end;

  margin-bottom:20px;

  background:none;

  border:none;

  color:white;

  font-size:28px;

  cursor:pointer;
}



/* dashboard css */

.dashboard-page{
  display:flex;
  flex-direction:column;
  gap:25px;
}

.stats-section{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
}

.stat-card{
  background:white;

  padding:22px;

  border-radius:18px;

  box-shadow:
  0px 8px 24px rgba(15,23,42,0.08);

  transition:0.3s;
}

.stat-card:hover{
  transform:translateY(-5px);
}

.stat-card h4{
  color:#6b7280;
  margin-bottom:10px;
}

.stat-card h2{
  color:#111827;
  margin-bottom:10px;
}

.stat-card p{
  color:#16a34a;
  font-weight:600;
}



.page-header{
  display:flex;

  justify-content:space-between;

  align-items:center;

  margin-bottom:25px;
}



.page-header h1{
  font-size:32px;

  font-weight:700;

  color:#111827;

  margin-bottom:6px;
}



.page-header p{
  color:#6b7280;

  font-size:15px;
}


/* table css */

.table-section{
  background:white;

  padding:25px;

  border-radius:18px;

  box-shadow:
  0px 10px 30px rgba(15,23,42,0.08);

  overflow:hidden;
}

.table-section h2,
.table-section h3{
  margin-bottom:20px;
  color:#111827;
}

.table-wrapper{
  width:100%;

  overflow-x:auto;

  -webkit-overflow-scrolling:touch;
}



table{
  width:100%;

  min-width:900px;

  border-collapse:collapse;

  background:white;
}


.table-wrapper::-webkit-scrollbar{
  height:8px;
}

.table-wrapper::-webkit-scrollbar-thumb{
  background:#cbd5e1;

  border-radius:20px;
}

th{
  background:
  linear-gradient(
    to right,
    #2563eb,
    #1d4ed8
  );

  color:white;

  text-align:left;

  padding:16px;

  font-size:14px;
}

td{
  padding:16px;

  border-bottom:1px solid #e5e7eb;

  font-size:14px;

  color:#374151;
}

tr{
  transition:0.3s;
}

tr:hover{
  background-color:#f8fafc;
}



/* grid css */

.grid-section{
  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(280px,1fr));

  gap:25px;
}

.user-card,
.order-card,
.product-card{
  background:white;

  padding:24px;

  border-radius:20px;

  box-shadow:
  0px 10px 25px rgba(15,23,42,0.08);

  transition:0.3s;

  position:relative;

  overflow:hidden;
}

.user-card::before,
.order-card::before,
.product-card::before{
  content:"";

  position:absolute;

  top:0;
  left:0;

  width:100%;
  height:5px;

  background:
  linear-gradient(
    to right,
    #2563eb,
    #7c3aed
  );
}

.user-card:hover,
.order-card:hover,
.product-card:hover{
  transform:translateY(-8px);
}

.user-card h3,
.order-card h3,
.product-card h3{
  margin-bottom:12px;

  color:#111827;
}

.user-card p,
.order-card p,
.product-card p{
  margin-bottom:10px;

  color:#6b7280;

  line-height:1.6;
}



/* modal form css */

.modal-overlay{
  position:fixed;

  top:0;
  left:0;

  width:100%;
  height:100vh;

  background-color:rgba(0,0,0,0.5);

  display:flex;
  justify-content:center;
  align-items:center;

  z-index:1000;
}

.profile-modal{
  width:90%;
  max-width:420px;

  background:white;

  border-radius:18px;

  padding:25px;
}

.profile-form{
  display:flex;
  flex-direction:column;
  gap:18px;
}

.form-group{
  display:flex;
  flex-direction:column;
  gap:8px;
}

.form-group input{
  padding:12px;

  border:1px solid #d1d5db;

  border-radius:8px;

  outline:none;
}

.modal-buttons{
  display:flex;
  gap:10px;
}

.save-btn,
.close-btn{
  flex:1;

  padding:12px;

  border:none;

  border-radius:8px;
}

.save-btn{
  background-color:#2563eb;
  color:white;
}

.close-btn{
  background-color:#e5e7eb;
}


/* pagination css */

.pagination{
  display:flex;
  justify-content:center;
  align-items:center;

  gap:8px;

  flex-wrap:wrap;

  margin-top:20px;
   overflow-x:auto;

  padding-bottom:5px;
}

.pagination button{
  padding:8px 14px;

  border:none;

  border-radius:8px;

  background-color:#e5e7eb;
}

.active-page{
  background-color:#2563eb !important;
  color:white;
}

.pagination button:disabled{
  opacity:0.5;
}


/* toggle css */

.view-toggle{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

.view-toggle button{
  padding:10px 18px;

  border:none;

  border-radius:8px;

  background-color:#e5e7eb;

  font-weight:600;
}

.active-view{
  background-color:#2563eb !important;
  color:white;
}


/* dark theme css */

body.dark{
  background-color:#0f172a;
  color:white;
}

body.dark .page-content{
  background:
  linear-gradient(
    to bottom right,
    #0f172a,
    #111827
  );
}

body.dark .navbar,
body.dark .table-section,
body.dark .stat-card,
body.dark .profile-modal,
body.dark .user-card,
body.dark .order-card,
body.dark .product-card{
  background:#1e293b;
  color:white;
}

body.dark td{
  border-color:#334155;
}

body.dark input{
  background:#0f172a;
  color:white;
  border:1px solid #334155;
}

body.dark .theme-toggle{
  background:#334155;
  color:#facc15;
}

body.dark .sidebar{
  background:#020617;
}

body.dark .sidebar-links a:hover{
  background:#1e293b;
}


body.dark .page-header h1{
  color:white;
}

body.dark .page-header p{
  color:#94a3b8;
}



body.dark .product-card{
  background:
  linear-gradient(
    145deg,
    rgba(30,41,59,0.95),
    rgba(15,23,42,0.95)
  );

  border:1px solid rgba(255,255,255,0.05);
}



body.dark .product-card h3{
  color:white;
}



body.dark .product-card p{
  color:#cbd5e1;
}



body.dark .message-card{
  background:
  linear-gradient(
    145deg,
    rgba(30,41,59,0.95),
    rgba(15,23,42,0.95)
  );

  border:1px solid rgba(255,255,255,0.05);
}



body.dark .message-card h3{
  color:white;
}



body.dark .message-card p{
  color:#cbd5e1;
}




/* product page ki css  */

.product-card{
  background:white;

  border-radius:20px;

  overflow:hidden;

  box-shadow:
  0px 10px 25px rgba(15,23,42,0.08);

  transition:0.3s;

  border:1px solid #e5e7eb;
}



.product-card:hover{
  transform:translateY(-6px);

  box-shadow:
  0px 18px 35px rgba(37,99,235,0.15);
}



.product-image{
  width:100%;

  height:220px;

  object-fit:cover;

  background:#f8fafc;
}



.product-card h3{
  padding:15px 18px 5px;

  color:#111827;

  font-size:20px;
}



.product-card p{
  padding:0px 18px 10px;

  color:#6b7280;

  font-size:14px;
}


/* message page ki css  */

.message-card{
  background:white;

  padding:22px;

  border-radius:18px;

  border:1px solid #e5e7eb;

  box-shadow:
  0px 10px 25px rgba(15,23,42,0.08);

  transition:0.3s;
}



.message-card:hover{
  transform:translateY(-5px);

  box-shadow:
  0px 18px 35px rgba(37,99,235,0.15);
}



.message-card h3{
  color:#111827;

  margin-bottom:12px;

  font-size:18px;
}



.message-card p{
  color:#6b7280;

  line-height:1.7;

  margin-bottom:10px;

  word-break:break-word;
}





/* action bttons delete or update wale ki css */

.action-buttons{
  display:flex;

  gap:10px;

  align-items:center;
}



.edit-btn{
  padding:8px 14px;

  border:none;

  border-radius:8px;

  background:#2563eb;

  color:white;

  cursor:pointer;

  font-size:14px;

  font-weight:600;

  transition:0.3s;
}



.edit-btn:hover{
  transform:translateY(-2px);

  background:#1d4ed8;
}



.delete-btn{
  padding:8px 14px;

  border:none;

  border-radius:8px;

  background:#dc2626;

  color:white;

  cursor:pointer;

  font-size:14px;

  font-weight:600;

  transition:0.3s;
}



.delete-btn:hover{
  transform:translateY(-2px);

  background:#b91c1c;
}




/* loading state ki css protected route.jsx ki  */

.page-loader{
  width:100%;

  height:100vh;

  display:flex;

  justify-content:center;

  align-items:center;

  font-size:22px;

  font-weight:600;
}



/* edit modal form ka css  */

.edit-modal{
  width: 90%;

  max-width: 500px;

  max-height: 90vh;

  overflow-y: auto;

  background: white;

  border-radius: 18px;

  padding: 24px;

  box-shadow:
  0px 20px 50px rgba(0,0,0,0.25);

  animation: modalPop 0.25s ease;
}



.modal-top{
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 20px;
}



.modal-top h2{
  font-size: 24px;

  color: #111827;
}



.modal-close-btn{
  border: none;

  background: none;

  font-size: 22px;

  cursor: pointer;
}



.modal-body{
  display: flex;

  flex-direction: column;

  gap: 16px;
}



.modal-body input{
  width: 100%;

  padding: 12px;

  border: 1px solid #d1d5db;

  border-radius: 8px;

  outline: none;

  font-size: 15px;
}



.modal-body input:focus{
  border-color: #2563eb;
}



.modal-actions{
  display: flex;

  justify-content: flex-end;

  gap: 12px;

  margin-top: 24px;
}



.cancel-btn{
  padding: 10px 18px;

  border: none;

  border-radius: 8px;

  background: #e5e7eb;

  cursor: pointer;
}



.save-btn{
  padding: 10px 18px;

  border: none;

  border-radius: 8px;

  background: #2563eb;

  color: white;

  cursor: pointer;
}


@keyframes modalPop{

  from{
    transform: scale(0.9);

    opacity: 0;
  }

  to{
    transform: scale(1);

    opacity: 1;
  }

}

/* SCROLLBAR */

.edit-modal::-webkit-scrollbar{
  width: 6px;
}

.edit-modal::-webkit-scrollbar-thumb{
  background: #cbd5e1;

  border-radius: 10px;
}



/* MOBILE */

@media(max-width:768px){

  .edit-modal{
    width: 95%;

    max-height: 92vh;

    padding: 20px;

    border-radius: 14px;
  }

}



/* EXTRA SMALL DEVICES */

@media(max-width:480px){

  .edit-modal{
    width: 96%;

    max-height: 94vh;

    padding: 18px;
  }

  .modal-top h2{
    font-size: 22px;
  }

  .modal-actions{
    flex-direction: column;
  }

  .cancel-btn,
  .save-btn{
    width: 100%;
  }

}



@media(max-width:768px){

  .table-section{
    padding: 18px;
  }

  th,
  td{
    padding: 14px;
  }

  .user-card{
    padding: 20px;
  }

} 

@media screen and (max-width: 576px){

  .stats-section{
    grid-template-columns: 1fr;
  }

  th,
  td{
    padding: 10px;

    font-size: 13px;
  }

}


@media screen and (max-width: 768px){

  .sidebar{
    left: -250px;

    z-index: 1000;
  }

  .active-sidebar{
    left: 0;
  }

 .dashboard-layout{
  flex-direction: column;
}

.main-section{
  margin-left: 0;

  width: 100%;
}

.page-content{
  padding: 15px;
}

  .navbar{
    left: 0;
  }

  .menu-btn{
    display: block;
  }

  .close-sidebar{
    display: block;

    margin-bottom: 20px;

    background: none;

    border: none;

    color: white;

    font-size: 20px;

    cursor: pointer;
  }

  .search-box input{
    max-width: 180px;
  }

  .profile-section h4{
    display: none;
  }

}

@media screen and (max-width: 992px){

  .stats-section{
    grid-template-columns: repeat(2,1fr);
  }

}






